* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.width-full {
    width: 100%;
}
.height-full {
    height: 100%;
}

#podcast {
    display: flex;
    flex-direction: column;
    background-color: #282326;
    .gallery-wrap {
        flex: 1 0 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        .gallery-item {
            display: none;
            &.active {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .img-wrap {
                max-width: 400px;
                padding-right: 30px;
                img {
                    width: 100%;
                }
            }
            .content-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                color: #ffffff;
            }
        }
    }
    .tag-line {
        flex: 0 0 auto;
        position: relative;
        width: 100%;
        max-height: 90px;
        background-color: rgba(255, 255, 255, 0.2);
        cursor: col-resize;
        .time-point-line {
            position: absolute;
            left: 50%;
            width: 2px;
            height: 100%;
            background-color: #ffffff;
            z-index: 9999999;
        }
        .progress-wrap {
            margin-left: 50%;
            .progress {
                position: relative;
                height: 90px;
                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    height: 100%;
                    color: #ffffff;
                    &:hover {
                        // background-color: rgba(255, 255, 255, 0.5);
                        .time-line {
                            background-color: #ffffff;
                        }
                        .title {
                            background-color: rgba(255, 255, 255, 0.5);
                            cursor: pointer;
                        }
                        .time-mark {
                            visibility: visible;
                        }
                    }
                    .time-line {
                        position: absolute;
                        left: 0;
                        width: 1px;
                        height: 90px;
                        background: hsla(0, 0%, 100%, 0.2);
                    }
                    .title {
                        padding: 3px 5px;
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                    .time-mark {
                        position: absolute;
                        bottom: -20px;
                        left: -20px;
                        font-size: 12px;
                        visibility: hidden;
                    }
                }
            }
        }
    }
    .controller {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 30px;
        .custom {
            display: flex;
            flex: 1 1 30%;
            a {
                margin: 0 10px;
                color: #ffffff;
                font-size: 13px;
                cursor: pointer;
                i {
                    color: hsla(0, 0%, 100%, 0.3);
                }
                span {
                    margin-left: 9px;
                }
            }
        }
        .play-controller {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 1 auto;
            button {
                margin: 10px 20px;
                color: #ffffff;
                cursor: pointer;
                background: none;
                border: 0;
                font-size: 16px;
            }
            .prev-button, .next-button {
                margin: 10px 30px;
            }
        }
        .volume {
            flex: 1 1 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .audio-button {
                width: 20px;
                color: #ffffff;
                cursor: pointer;
            }
            .progress-bar {
                position: relative;
                width: 80px;
                height: 5px;
                background-color: hsla(0,0%,100%,.1);
                cursor: pointer;
                &:hover {
                    background-color: hsla(0,0%,100%,.2);
                }
                .dot {
                    position: absolute;
                    top: -2px;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background-color: #ffffff;
                    cursor: col-resize;
                    transform: translateX(-50%)
                }
            }
        }
    }
    .timeline-wrap {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        margin: 10px 30px;
        color: #fff;
        font-size: 12px;
        .timeline {
            flex: 1 1 auto;
            display: flex;
            padding: 10px 20px 30px;
            .progress-bar {
                position: relative;
                width: 100%;
                height: 5px;
                background-color: hsla(0,0%,100%,.1);
                cursor: pointer;
                &:hover {
                    background-color: hsla(0,0%,100%,.2);
                }
                .dot {
                    position: absolute;
                    top: -2px;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background-color: #ffffff;
                    cursor: col-resize;
                    transform: translateX(-50%)
                }
            }
        }
    }
}